@keyframes fade 
    from 
        opacity: 0.4
    to 
        opacity: 1

@keyframes LeftToRight
    0%
        opacity: 0
        transform: translate(0rem)
    80%
        transform: translate(2rem)
    100%
        opacity: 1
        transform: translate(-20rem)

@keyframes RightToLeft
    0%
        transform: translate(100vw)
    80%
        transform: translate(-1rem)
    100%
        transform: translate(0)