// max-width
$maxWidth: 114rem

// background colors Blue
$backgroundWhite: #FFFDFD
$backgroundLight: #F1F8F9
$backgroundBase: #D4E7EB
$backgroundMedium: #C0DFE5
$backgroundDark: #164E63
$backgroundHeader: #06B6D4
$backgroundFooter: #164E63

// background colors Green
$backgroundBaseGreen: #DBE285
$backgroundMediumGreen: #DFE58E
$backgroundHeaderGreen: #FFFDFD
$backgroundFooterGreen: #164E63

// background colors White
$backgroundBaseWhite: #F7FAF0
$backgroundMediumWhite: #EEEEEE
$backgroundHeaderWhite: #FFFFFF
$backgroundFooterWhite: #ECF0C1


// background colors Blue for Cards
$backgroundCardLight:#E0EDEF
$backgroundCardMedium: #71ADBD
$backgroundCardDark: #164E63

// background colors Green for Cards
$backgroundCardLightGreen:#EBEEBF
$backgroundCardMediumGreen: #E6EAAE
$backgroundCardDarkGreen: #E7ED76

// background colors White for Cards
$backgroundCardLightWhite:#FFFFFF
$backgroundCardMediumWhite: #ECF0C1
$backgroundCardDarkWhite: #1C644F

// font-size
$fontSizeH1Big: 5rem
$fontSizeH1Small: 4.5rem
$fontSizeH1Mini: 4rem
$fontSizeH1Micro: 3.5rem
$fontSizeH2Big: 4rem
$fontSizeH2Small: 3.5rem
$fontSizeH2Mini: 3rem
$fontSizeH3: 2rem
$fontSizeText: 1.8rem

// colors for text
$colorTextBase: #164E63
$colorTextDark: #164E63
$colorTextBlue: #2C687A
$colorTextWhite: #FFFDFD
$colorTextBlack: #000
$colorTextGrey: rgba(0, 0, 0, 0.50)
$colorTextGreen: #1FAF38