.filters
    display: flex
    justify-content: space-evenly
    gap: 1rem
    flex-wrap: wrap

.filter
    display: flex
    justify-content: space-between
    color: $colorTextGrey
    background-color: $backgroundLight
    border: .1rem solid $backgroundMedium
    padding: 0 1rem
    width: 16rem