.rooms
    display: flex
    justify-content: space-evenly

.room
    color: $colorTextWhite
    box-shadow: 0.1rem 0.1rem $backgroundCardDark
    &_blue
        background-color: $backgroundCardMedium
    &_green
        background-color: $backgroundCardMedium
    &_white
        background-color: $backgroundCardDarkWhite  
    &_active
        background-color: $backgroundCardDark
    &:hover
        background-color: $backgroundCardDark
        box-shadow: 0.1rem 0.1rem black