.sidebar
    text-align: left
    width: 23rem
    &__item
        text-decoration: none
        font-size: 2rem
        line-height: 3.5rem
        color: $colorTextBase
        cursor: pointer
        display: block
        &_active
            font-weight: bold
        &:hover
            text-decoration: underline
    &__icon
        width: 2rem
        height: 2rem
        margin-right: 1rem