.section-odd
    &_blue
        background-color: $backgroundBase
    &_green
        background-color: $backgroundBaseGreen
    &_white
        background-color: $backgroundBaseWhite
        // border-bottom: 1px solid darkgrey

.section-even
    position: relative
    &_blue
        background-color: $backgroundMedium
    &_green
        background-color: $backgroundMediumGreen
    &_white
        background-color: $backgroundWhite
        // border-bottom: 1px solid darkgrey

.section-container
    padding: 4rem 3rem
    width: $maxWidth
    max-width: 100%
    margin: 0 auto
    overflow: hidden
    text-align: center
    scroll-behavior: smooth

.section-head
    display: flex
    max-height: 100vh
    &__descr
        display: flex
        flex-direction: column
        justify-content: space-around
        width: 50%
        @include respond(tab-port)
            width: 55%
        @include respond(phone)
            width: 60%
    &__h1-border
        position: relative
    &__h1-border img
        width: 100%
        height: 100%
    &__title
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    &__wrapper
        display: flex
        flex-direction: column
        text-align: center
        align-items: center
        margin: 0 auto
    &__text
        display: flex
        font-size: $fontSizeH3
        color: $colorTextBase
        align-items: center
        z-index: 1
    &__btn
        position: relative
        top: -1.5rem
        width: 35rem
        padding: 2rem 1rem
        background-color: $backgroundCardDark
    &__link
        text-decoration: none
        color: $colorTextWhite
        font-size: $fontSizeH3
    &__btn-icon
        max-height: 10rem
    &__img
        width: 50%
        @include respond(tab-port)
            width: 45%
        @include respond(phone)
            width: 40%
    &__img img
        max-width: 100%
        max-height: 100%

.section-benefits
    min-height: 50rem
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    gap: 2rem 1rem
    &__benefit
        margin-top: 2rem
        width: 100%
        padding: 3rem
        color: $colorTextBase
        border-radius: 3rem
        &_blue
            background-color: $backgroundLight
        &_green
            background-color: $backgroundCardLightGreen
        &_white
            background-color: $backgroundCardMediumWhite


.section-lessons
    display: flex
    flex-direction: column
    justify-content: space-evenly
    gap: 2rem

.section-schedule
    display: flex
    flex-direction: column
    justify-content: space-evenly
    gap: 2rem