.subject
    flex-shrink: 1
    flex-grow: 1
    color: $colorTextBase
    position: relative
    &__container
        padding: 4rem 3rem
        width: $maxWidth
        max-width: 100%
        margin: 0 auto
        overflow: hidden
    &__declaration
        width: 100%
        display: flex
        flex-direction: column
    &__info
        display: flex
        width: 100%
        gap: 2rem
        margin-bottom: 3rem
        justify-content: center
        @include respond(phone)
            flex-direction: column
            align-items: center
    &__descr
        display: flex
        flex-direction: column
        align-items: center
    &__caption
        display: flex
        align-items: center
        margin: 0 auto
    &__icon
        width: 12rem
        height: auto
        opacity: 15%
    &__title
        margin-bottom: 2rem
    &__text
        max-width: 90rem
        line-height: 3rem
        margin-bottom: 1rem
        text-align: justify
        text-indent: 3rem
    &__note
        margin: 1rem auto
        font-size: $fontSizeH3
        font-weight: bold
        max-width: 90rem
        line-height: 3rem
        text-align: justify
        display: block
    &__btn
        align-self: center
        padding: 1rem
        &_blue
            background-color: $backgroundBase
        &_green
            background-color: $backgroundBaseGreen
        &_white
            background-color: $backgroundBaseGreen
    &__photo
        width: 45rem
        height: 30rem
        background-color: grey
        flex-shrink: 0
        flex-grow: 0
